DATABASE_URL=mysql+pymysql://USUARIO:PASS@IP:PUERTO/NOMBRE_BDD
HOST
PORT
DATABASE
USER
PASS


JWT_SECRET_KEY
JWT_ALGORITHM
JWT_ISSUER
JWT_AUDIENCE

ACCESS_TOKEN_MINUTES
REFRESH_TOKEN_DAYS

#CORS_ORIGINS